<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StreamingClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StreamingClient.Properties.Settings>
            <setting name="ServerAddress" serializeAs="String">
                <value>108.8.222.218</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>54000</value>
            </setting>
            <setting name="HomeDirectory" serializeAs="String">
                <value />
            </setting>
        </StreamingClient.Properties.Settings>
    </userSettings>
</configuration>